@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  height: 100vh;
  /* background-color: gainsboro; */
}
#root,
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.margin-nav {
  margin-top: 70px;
}
.content-title {
  font-size: 1.7em;
  font-weight: bold;
}
@media (max-width: 992px) {
  .content-title {
    font-size: 1.2em;
  }
}
a:hover,
a {
  text-decoration: none;
  transition: all ease 0.2s;
}
